<header>Gamming</header>
<app-menubar></app-menubar>
<body>
<div class="container grid">

  <a href="headphones.html">
  <div class="type">
      <h4>
          Headphones
      </h4>
      <img src="../../assets//Images/GamingHeadphones.jpg" alt="image">
  </div>
  </a>

  <div class="type">
      <h4>
          Mouse
      </h4>
      <img src="../../assets//Images/Mouse.jpg" alt="image">
  </div>

  <div class="type">
      <h4>
          Keyboards
      </h4>
      <img src="../../assets//Images/Keyboard.jpg" alt="image">
  </div>

  <div class="type">
      <h4>
          Mic
      </h4>
      <img src="../../assets//Images/Mic.jpg" alt="image">
  </div>

  <a href="console.html">
  <div class="type">
      <h4>
          Console
      </h4>
      <img src="../../assets//Images/Console.jpg" alt="image">
  </div>
  </a>

  <div class="type">
      <h4>
          Controlller
      </h4>
      <img src="../../assets//Images/controller.jpg" alt="image">
  </div>

</div>
</body>
<app-footer></app-footer>