@import url("https://fontawesome.com/v5/icons/instagram-square?f=brands&s=solid&pc=%23005eff");
footer{
    position: sticky;
    margin-top: 15%;
    margin-bottom: none;
    padding: none;
    background: rgba(0, 26, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 30px;
    border-left:rgba(255,255,255,0.3) ;
    border-top: rgba(255,255,255,0.3);
    margin-left: none;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 25px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
footer{
    font-size: 15px;
}

footer button{
    padding: 0px;
    border-radius: 50%;
    max-height: 20px;
    max-width: 20px;
    align-items:center;
}
button img{
    max-height: 17px;
    max-width: 17px;
}