<footer>
  <div>
    <h2>Techtronics</h2>
    <p>Connect with us on<a href=""></a></p>
    <p>techtronics.help@trchtro.com</p>
  </div>
  <div class="social-icon">

    <a><button><img src="../../assets//Images/facebook1.png" alt="image"></button></a>
    <a><button><img src="../../assets//Images/instagram.png" alt="image"></button></a>
    <a><button><img src="../../assets//Images/twitter.png" alt="image"></button></a>
    <a><button><img src="../../assets//Images/linkedin.png" alt="image"></button></a>
  </div>
</footer>