title { 

font-size: 18px; 

font-weight: bold; 

font-align: centre; 

color: black; 

} 

body { 

background-color: white; 

}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

table th{
color : #000000;
background-color: red;
}