<app-header></app-header>
<app-menubar></app-menubar>

<body>
    <div class="greatings">
        <h1>Welcome😁</h1>
    </div>
    <div class="about">
        <p>This store is the great place to find all the mordern electronic that you need.You can find some spetial
            exclusive products of our page.</p>
    </div>
    <div class="pages grid">


        <a href="/mobile" style="text-decoration: none;">
            <div class="view">
                <h4>Mobile</h4>
                <img [src]="mobileImg.mobileIcon" alt="image">
            </div>
        </a>

        <a href="/audio" style="text-decoration: none;">
            <div class="view">
                <h4>Audio</h4>
                <img [src]="audioImg.audioIcon" alt="image">
            </div>
        </a>

        <a href="/laptop" style="text-decoration: none;">
            <div class="view">
                <h4>Laptop</h4>
                <img [src]="laptopImg.laptopIcon" alt="image">
            </div>
        </a>

    </div>
    <div class="sto">
        <h2>Store exclusive</h2>
    </div>
    <div class="media">
        <div class="med">
            <h4>OnePlus Concept One</h4>
            <img [src]="oneplusConcept.oneplusConceptImg" alt="image">

            <ul>
                <li>OnePlus has officially unveiled its Concept One.</li>
                <li>It was teased earlier this month and hinted at a McLaren co-branded</li>
                <li> product with a disappearing camera</li>
            </ul>

        </div>
        <div class="med">
            <h4>Samsung Z Flip 4</h4>
            <img [src]="samsungzflip.samsungzflipImg" alt="image">

            <ul>
                <li> The 17.03cm (6.7") display unfolds a beautiful view thanks to Ultra Thin Glass.</li>
                <li>Advanced durability makes it stronger than ever — staying</li>
                <li>through more than 200,000 folds.5,6</li>
            </ul>

        </div>
        <div class="med">
            <h4>Sony WF-1000XM3</h4>
            <img [src]="sonywh1000Img.sonywh1000" alt="image">


            <ul>
                <li> 8 hours of power on a full charge, with a further three charges from the charging case, for up to
                    32 hours of play time.</li>

            </ul>


        </div>

    </div>
    <div class="store">
        <h3>Store exclusive laptop brands:</h3>
        <div class="exclusive">
            <div class="temp">
                <h4>
                    Asus
                </h4>
                <img [src]="asusImg.asusLogo" alt="image">
            </div>

            <div class="temp">
                <h4>
                    Mac
                </h4>
                <img [src]="appleImg.appleLogo" alt="image">
            </div>

            <div class="temp">
                <h4>
                    Hp
                </h4>
                <img [src]="hpImg.hpLogo" alt="image">
            </div>

            <div class="temp">
                <h4>
                    Dell
                </h4>
                <img [src]="dellImg.dellLogo" alt="image">
            </div>

            <div class="temp">
                <h4>
                    Acer
                </h4>
                <img [src]="acerImg.acerLogo" alt="image">
            </div>

        </div>
        <h3>Store exclusive audio Types:</h3>
        <div class="audioType">
            <div class="temp">
                <h4>ANC</h4>
                <img [src]="ancImg.ancIcon" alt="image">
            </div>
    
    
    
            <div class="temp">
                <h4>On Ear</h4>
                <img [src]="onearImg.onearIcon" alt="image">
            </div>
    
    
    
            <div class="temp">
                <h4>In Ear</h4>
                <img [src]="inearImg.inearIcon" alt="image" height="80">
            </div>
    
    
    
            <div class="temp">
                <h4>TWS</h4>
                <img [src]="twsImg.twsIcon" alt="image">
            </div>
    
    
    
            <div class="temp">
                <h4>Over Ear</h4>
                <img [src]="overearImg.overearIcon" alt="image" height="80">
            </div>
    
    
            <div class="temp">
                <h4>Neck bands</h4>
                <img [src]="neckbandImg.neckbandIcon" alt="image">
            </div>
    
    
    
            <div class="temp">
                <h4>BT Speaker</h4>
                <img [src]="btspeakerImg.btspeakerIcon" alt="image">
            </div>
    
    
    
            <div class="temp">
                <h4>Home theatre</h4>
                <img [src]="hometheaterImg.hometheaterIcon" alt="image">
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>