<header>About us</header>
<app-menubar></app-menubar>

    <p style="font-size: 20px;text-align: center;padding: 18ex;font-family: 'Poppins', sans-serif;">
        <b><i>Techtronics is a Website for all electronics
                where we cover all your electronic needs....simplified...structured.....
                classified and easy to use .You have no idea what kinda product suits you🤔 ...? 
                Chill buddy we got
                you covered in that too😁... 
                With our simplified guides for each classification of products you can find your perfect match😍
    <h2>Happy shopping😎😉</h2>

