@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

header {
    padding: 20px 75px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
    /* background: linear-gradient(to right, #79c3f2, #f8f8fa); */
}

body{

    background-image:linear-gradient(to right, #79c3f2, #f8f8fa);
    width: 100%;
    padding: none;
    text-align: justify;
}